*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: bisque;
    padding-bottom: 30px;
}

a{
    text-decoration: none;
    
}


.testata{
    display: flex;
    background-color: red;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

.logo{
    display: flex;
    flex-basis: 20%;
    justify-content: center;
}

.main-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-basis: 60%;
}

.accedi{
    display: flex;
    flex-basis: 20%;
    justify-content: center;
}

.jumbotrone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
    margin-top: 50px;
    margin: 0 200px;
}

h1{
    margin-top: 70px;
    margin-bottom: 20px ;
}

div a{
    color: #fff;
    background-color: black;
    margin: 20px 20px;
}

.subt{
    text-align: center;
}

.calltoaction{
    display: flex;
    justify-content: space-around;

}

.container{
    display: flex;
    flex-direction: column;
    background-color: chocolate;
}

.box{
    display: flex;
    padding: 0 160px;
    background-color: chartreuse;
}



#n2 {
    order: -1;
}

.img{
    font-size: 80px;
    font-weight: 900;
    padding: 10px;
    text-align: center;

}

.imgtxt{
    margin: 10px;
    align-self: center;
    padding: 50px;
}

h3{
    font-size: 40px;
    margin-bottom: 30px;
}

.last{
    text-align: center;
    padding: 20px 160px;
    background-color: darkgreen;
}

h2{
    font-size: 45px;
}